.dashboard {
    .btn-success {
        background-color: #bd3b1b;
        border-color: #bd3b1b;
        box-shadow: none;
        width: 100%;
        text-align: left;
        font-weight: bold;
    }

    .dropdown-menu {
        position: relative !important;
        transform: none !important;
        padding-bottom: 20px;
    }

    .dropdown-enroll {
        background-color: #056547;
        border: none;
        width: 120px;
        font-weight: bold;
        float: right;
        padding: 0;
    }

    .dropdown-toggle::after {
        display: none;
        // display: flex;
        // align-items:flex-end;
    }

    .dropdown-icon {
        display: flex;
        float: right;
        fill: white;
        width: 8px;
        transform: rotate(180deg);
    }
}

.z-1 {
    z-index: 100;
}

.student-add-mark {
    max-height: 300px;
    overflow-y: scroll;
}