.item-center {
    display: flex;
    justify-content: center;
}

.colour-green {
    color: #056547;
}

.colour-brown {
    color: #bd3b1b;
}

.new-task {
    background-color: #d8a800;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    margin-right: 30px;
}

.float-right {
    float: right;
}

.background-green {
    background-color: #056547;
}